body {
    text-align: center;
}

form {
    padding-top: 25px;
}

form input, form select {
    margin-bottom: 25px;
}

.title {
    font-size: 25px;
    padding-top: 100px;
}

.fullwidth {
    width: 100%;
    max-width: 400px;
}

.top {
    min-height: 100%;
    width: 100%;
}

.error {
    color: red;
}

.register {
    font-size: 20px;
    padding-bottom: 25px;
}