<html>
    <head>
        <title>Basic Login System</title>
        <meta name="viewport" content="width:device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/main.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
    </head>
    <body>
        <div class="top">
            <div class="row title">
                <div class="col-lg-12">
                    Update the desired fields. Fields that are left blank will not be changed.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <form action="" method="post">
                        <input type="text" placeholder="current-firstname" name="firstName" value="{{ request.form.firstName }}" class="fullwidth"><br>
                        <input type="text" placeholder="current-lastname" name="lastName" value="{{ request.form.lastName }}" class="fullwidth"><br>
                        <input type="email" placeholder="current-email" name="email" value="{{ request.form.email }}" class="fullwidth"><br>
                        <input type="number" placeholder="current-gradyear" name="gradYear" value="{{ request.form.gradYear }}" class="fullwidth" min="1996" max="2022"><br>
                        <select name="academy" placeholder="Academy" class="fullwidth" value="{{ request.form.academy }}">
                            <option value="none">Select Academy</option>
                            <option value="aast">AAST</option>
                            <option value="abf">ABF</option>
                            <option value="acaha">ACAHA</option>
                            <option value="aedt">AEDT</option>
                            <option value="amst">AMST</option>
                            <option value="atcs">ATCS</option>
                            <option value="avpa-m">AVPA-M</option>
                            <option value="avpa-t">AVPA-T</option>
                            <option value="avpa-v">AVPA-V</option>
                        </select><br>
                        <input type="text" placeholder="current-jobtitle" name="jobTitle" value="{{ request.form.jobTitle }}" class="fullwidth"><br>
                        <input type="text" placeholder="current-company" name="company" value="{{ request.form.company }}" class="fullwidth"><br>
                        <input class="btn btn-default" type="submit" value="Update">
                    </form>
                    <br>
                    {% if error %}
                        <p class="error"><strong>Error:</strong> {{ error }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>

