<html>
    <head>
        <title>Basic Login System</title>
        <meta name="viewport" content="width:device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/main.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
    </head>
    <body>
        <div class="top">
            <div class="row">
                <div class="col-lg-12 title">
                    Welcome to the app.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">Click <a href="/logout">here</a> to logout.</div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    Some secret content you can only see if you're logged in
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-12"><a href="/myaccount">My Account Information</a></div>
            </div>
        </div>
    </body>
</html>

