<html>
    <head>
        <title>Basic Login System</title>
        <meta name="viewport" content="width:device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="top">
            <div class="row title">
                <div class="col-lg-12">
                    Please enter a username and password to register.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <form action="" method="post">
                        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}" class="fullwidth" required><br>
                        <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}" class="fullwidth" required><br>
                        <input type="password" placeholder="Confirm Password" name="confirmpassword" value="{{ request.form.confirmpassword }}" class="fullwidth" required><br>
                        <input type="text" placeholder="First Name" name="firstName" value="{{ request.form.firstName }}" class="fullwidth" required><br>
                        <input type="text" placeholder="Last Name" name="lastName" value="{{ request.form.lastName }}" class="fullwidth" required><br>
                        <input type="email" placeholder="Email" name="email" value="{{ request.form.email }}" class="fullwidth" required><br>
                        <input type="number" placeholder="Graduating Year" name="gradYear" value="{{ request.form.gradYear }}" class="fullwidth" min="1996" max="2022" required><br>
                        <select name="academy" placeholder="Academy" class="fullwidth" value="{{ request.form.academy }}">
                            <option value="none">Select Academy</option>
                            <option value="aast">AAST</option>
                            <option value="abf">ABF</option>
                            <option value="acaha">ACAHA</option>
                            <option value="aedt">AEDT</option>
                            <option value="amst">AMST</option>
                            <option value="atcs">ATCS</option>
                            <option value="avpam">AVPA-M</option>
                            <option value="avpat">AVPA-T</option>
                            <option value="avpav">AVPA-V</option>
                        </select><br>
                        <input type="text" placeholder="Job Title (Optional)" name="jobTitle" value="{{ request.form.jobTitle }}" class="fullwidth"><br>
                        <input type="text" placeholder="Company Name (Optional)" name="company" value="{{ request.form.company }}" class="fullwidth"><br>
                        <input class="btn btn-default" type="submit" value="Register">
                    </form>
                    <br>
                    {% if error %}
                        <p class="error"><strong>Error:</strong> {{ error }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>

